body, html, #root {height: 100%;}
html {
  font-size: 18px;
}
h1 {
  padding:10px 0px 10px 10px;
  background-color:rgb(3, 31, 3);
  font-family: 'Montserrat';
  font-size: 1.5rem;
  color:white;
  border-bottom: 1px solid rgb(233, 227, 227);
}
.header {
  height: 50px;
  background-color:rgb(218, 210, 210);
}
a {
  color:white;
}
.App {
  height:100%;
  padding:0 17% 10% 17%;
  font-family: "Montserrat";
  background-image: url("./Components/music4.jpg");
  font-weight: 500;
  color: white;
}
.playlist{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width:1020px) {
  .playlist{
     align-items: center;
     flex-direction: column;
  }
}